@model IEnumerable<CitricStore.Models.THELOAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th style="color:white;">
            @Html.DisplayNameFor(model => model.TenTheLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="color:white;">
            @Html.DisplayFor(modelItem => item.TenTheLoai)
        </td>
        <td style="color: white; width: 225px;">
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTheLoai }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Details", "Details", new { id=item.MaTheLoai }, new { @class = "btn btn-danger" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTheLoai }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
