@using CitricStore.Models
<link href="~/Content/admin.css" rel="stylesheet" />
<h4>Thông tin giao đơn hàng: </h4>
<div class="chitietthongtindonhang">
    Tên nhận hàng: @Model.NameOrder
    <br />
    Số điện thoại: @Model.PhoneOrder
    <br />
    Email: @Model.EmailOrder
    <br />
    Số tài khoản: @Model.IDPayAccount
    <br />
    Tên tài khoản: @Model.NamePayAccount
</div>

