@using CitricStore.Models
@model IEnumerable<CitricStore.Models.CUSTOMER>
@{
    ViewBag.Title = "Thông tin khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    th, td {
        text-align: center;
        vertical-align:middle;

    }
</style>

<div class="container col-lg-6 col-md-12" style="margin:0px auto;">
    <h2 style="text-align: center; color:white; margin-top:15px;">THÔNG TIN KHÁCH HÀNG</h2>
    <div style="color:white; font-size:18px;">

        <div class="row" style="margin-left: 0px; padding-left:0px; margin-top:35px;">
            <table class="table" style="table-layout:fixed; width:100%; word-break: break-word; color:white;">
                <tr>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Giới tính
                    </th>

                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Email
                    </th>

                    <th>
                        Tên đăng nhập
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.NameCus
                        </td>
                        <td>
                            @item.Sex
                        </td>
                        <td>
                            @item.PhoneCus
                        </td>
                        <td>
                            @String.Format("{0:dd MMM, yyy}", item.Birthday)

                        </td>
                        <td>
                            @item.EmailCus
                        </td>
                        <td>

                            @item.LogName
                        </td>
                    </tr>
                }

            </table>











        </div>
    </div>
</div>
