@using CitricStore.Models


<h4>Thông tin giao đơn hàng: </h4>

<div style="color:white; font-size:20px; text-align:left; margin-left:30px; margin-top:10px; margin-bottom:10px;">
    Tên nhận hàng: @Model.NameOrder
    <br />
    Số điện thoại: @Model.PhoneOrder
    <br />
    Email: @Model.EmailOrder
    <br />
    Số tài khoản: @Model.IDPayAccount
    <br />
    Tên tài khoản: @Model.NamePayAccount


</div>

