@using CitricStore.Models
@model PagedList.IPagedList<CitricStore.Models.ORDER_INFO>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kiểm Tra Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    .decor {
        text-decoration: none;
    }
</style>
<div class="container col-lg-6 col-md-12" style="margin:0px auto;">
    <h2 style="text-align: center; color:white; margin-top:15px;">KIỂM TRA ĐƠN HÀNG</h2>
    <div style="color:white; font-size:18px;">

        <div class="row" style="margin-left: 0px; padding-left:0px; margin-top:35px;">

            @foreach (var item in Model)
            {
                <div class="col-2">
                    @item.NgayOrder



                </div>
                <div class="col-5" style="margin-left: 0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                    @Html.Action("Order_DonHang", "Admin", new { idor = item.MaOrder })

                </div>

                <div class="col-3" style="text-align:center">
                    Tình trạng đơn hàng:
                    <br />
                    @Html.Action("Extension_Order_TenTrangThai", "Admin", new { idtt = item.TrangThaiXuLy })
                </div>
                <div class="col-2">
                    @Html.ActionLink("Xử Lý Đơn Hàng", "Order_XuLyDonHang", new { idor = item.MaOrder }, new { @class = "btn btn-dark " })
                </div>

                <div class="col-12" style="text-align:right">
                    <strong>
                        Tổng tiền đơn hàng:  @String.Format("{0:0,0}", item.TongTien) VND
                    </strong>
                </div>

                <hr />
            }


        </div>


    </div>
    <div style="color: aliceblue">

        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    </div>

    <div style="color: aliceblue;" class="pagecolor">

        @Html.PagedListPager(Model, page => Url.Action("Order_KiemTraDonHang", null, new { page }))
    </div>


</div>



