@using CitricStore.Models
@model PagedList.IPagedList<CitricStore.Models.ORDER_INFO>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kiểm Tra Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/Content/admin.css" rel="stylesheet" />
<div class="container col-lg-6 col-md-12 thankiemtradonhang">
    <h2 class="tieudekiemtradon">KIỂM TRA ĐƠN HÀNG</h2>
    <div class="chitietchophankiemtra">

        <div class="row chiatietphanorder">

            @foreach (var item in Model)
            {
                <div class="col-2">
                    @item.DateOrder



                </div>
                <div class="col-5 orderdonhang">
                    @Html.Action("Order_DonHang", "Admin", new { idor = item.IDOrder })

                </div>

                <div class="col-3 tinhtrangdonhang">
                    Tình trạng đơn hàng:
                    <br />
                    @Html.Action("Extension_Order_TenTrangThai", "Admin", new { idtt = item.IDSttOrder })
                </div>
                <div class="col-2">
                    @Html.ActionLink("Xử Lý Đơn Hàng", "Order_XuLyDonHang", new { idor = item.IDOrder }, new { @class = "btn btn-dark " })
                </div>

                <div class="col-12 tongtiendonhang">
                    <strong>
                        Tổng tiền đơn hàng:  @String.Format("{0:0,0}", item.TotalPrice) VND
                    </strong>
                </div>

                <hr />
            }


        </div>


    </div>
    <div class="pagecolor">

        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    </div>

    <div class="pagecolor">

        @Html.PagedListPager(Model, page => Url.Action("Order_KiemTraDonHang", null, new { page }))
    </div>


</div>



