@model CitricStore.Models.ORDER_INFO

@{
    ViewBag.Title = "Order_XuLyDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="~/Content/User.css" rel="stylesheet" />

<div class="container col-lg-6 col-md-12 col-sm-12" style="margin:0px auto;">
    <h2 style="text-align: center; color:white; margin-top:15px;">XỬ LÝ ĐƠN HÀNG</h2>
    <div style="color:white; font-size:18px;">

        <div class="" style="margin-left: 0px; padding-left:0px; margin-top:35px;">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()



            <div class="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDOrder)
                @Html.HiddenFor(model => model.DateOrder)
                @Html.HiddenFor(model => model.IDCus)
                @Html.HiddenFor(model => model.NameOrder)
                @Html.HiddenFor(model => model.PhoneOrder)
                @Html.HiddenFor(model => model.EmailOrder)
                @Html.HiddenFor(model => model.IDBank)
                @Html.HiddenFor(model => model.IDPayAccount)
                @Html.HiddenFor(model => model.NamePayAccount)
                @Html.HiddenFor(model => model.TotalPrice)



                <div class="row">
                    @Html.Action("Order_TungDonHang", "Admin", new { idor = Model.IDOrder })

                    <div class="col-12" style="text-align:right">
                        <strong>
                            Tổng tiền đơn hàng: @String.Format("{0:0,0}", Model.TotalPrice) VND
                        </strong>
                    </div>

                    <hr />

                </div>

                <div class="row">
                    @Html.Action("Order_InfoKhachHang", "Admin", new { idkh = Model.IDOrder })

                    <hr>
                </div>


                <div class="form-group">
                    <h4>Trạng thái đơn hàng:</h4>
                    <div class="col-md-10">
                        @Html.DropDownList("IDSttOrder", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDSttOrder, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="row justify-content-center" style="margin-top:20px; text-align:center">
                    <input type="submit" value="Lưu" class="btn btn-dark" style="width:40%; margin-left:13px; margin-bottom:10px;" />
                    @Html.ActionLink("Quay về", "Order_KiemTraDonHang", "Admin", null, new { @class = "nonedecor" })

                </div>

            </div>

            }
        </div>
    </div>
    </div>