<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CitricStore | Admin | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Layout_HomePage.css" />
    <link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
    <script src="~/Content/bootstrap5/js/bootstrap.js"></script>
    <link rel="shortcut icon" type="image/png" href="~/Images/LOGO/LOGO_Black.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>
<body style="background-color:rgb(18,18,18)" id="body-container">
    <header id="header" class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-center" style="align-items:center;">
                <img src="~/Images/LOGO/LOGO_Black.png" alt="Citric Logo" style="width:50px; height:50px;" />
            </div>
            <div class="tenweb col-lg-1 col-md-2 col-sm-3">
                <img class="tenweb-img" src="~/Images/LOGO/CITRICSTORE.png" alt="Citric"/>
            </div>

            <div class="header-left-container col-lg-6 col-md-6">
                <ul class="header-left">
                    <li class="header-left-name" style="">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" style="color: black; text-decoration:none;"
                               role="button" id="dropdownMenu" type="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                NHẬP DỮ LIỆU
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenu"
                                 style=" border: none; background-color: #FCAE03; animation:none;transition:none">
                                <a href="@Url.Action("Index","InputDataOVERALL")" class=" dropdown-item">
                                    Ứng dụng
                                </a>
                                <a href="@Url.Action("Index","InputDataPLATFORM")" class=" dropdown-item">
                                    Hệ điều hành
                                </a>
                                <a href="@Url.Action("Index","InputDataLANGUAGE")" class=" dropdown-item">
                                    Ngôn ngữ
                                </a>
                                <a href="@Url.Action("Index","InputDataPUBLISHER")" class=" dropdown-item">
                                    Nhà phát hành
                                </a>
                                <a href="@Url.Action("Index","InputDataCATEGORY")" class=" dropdown-item">
                                    Thể loại
                                </a>
                                <a href="@Url.Action("Index","InputDataBANK")" class=" dropdown-item">
                                    Ngân hàng
                                </a>

                            </div>
                        </div>
                    </li>

                    <li class="header-left-name" style="margin-left:50px; text-align:left; width:380px;">
                        <a href="@Url.Action("CheckCusOrder","Admin")" style="text-decoration: none; color: black;">
                            KIỂM TRA ĐƠN HÀNG

                        </a>


                    </li>

                    <li class="header-left-name" style=" text-align: left; width: 100%; margin-left: 0px;">
                        <a href="@Url.Action("CheckCusInfo","Admin")" style="text-decoration: none; color: black">
                            THÔNG TIN KHÁCH HÀNG
                        </a>
                    </li>

                </ul>
            </div>
            <div class="header-right-container col-lg-4 col-md-3" style="font-size:16px;">
                <ul class="header-right">
                    <li class="header-right-name">
                        @if (Session["TaiKhoan"] != null)
                        {
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" style="color: black; text-decoration:none;"
                                   role="button" id="dropdownMenu" type="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    @Session["LogName"].ToString()
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu"
                                     style=" border: none; z-index: 1001;background-color: #FCAE03; animation:none;transition:none">

                                    @Html.ActionLink("Đăng Xuất", "LogOut", "../Users", null, new { @class = "dropdown-item XemThongTin" })
                                </div>
                            </div>
                            <div></div>
                        }
                        else
                        {
                            @Html.ActionLink("Đăng Nhập", "Login", "../Users", null, new { @class = "DangNhap" })
                        }

                    </li>

                </ul>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <div class="container-fluid" id="main">
        @RenderBody()

    </div>

    <footer id="footer" class="container-fluid" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 justify-content-center" style="align-items:center;">

                    <img src="~/Images/LOGO/LOGO_Black.png" alt="Citric Logo" style="width:50px; height:50px;margin-top:50px" />
                    <br />
                    <img src="~/Images/LOGO/CITRICSTORE.png" alt="Citric" style="width:auto; height:100px; margin-top:-20px" />
                </div>
                <div class="col-lg-5 col-md-5 d-flex justify-content-center justify-content-lg-between" style="align-self:center">
                    <p>
                        <strong>Citric Store</strong>
                        là một trình duyệt dùng để tìm kiếm và tải các ứng dụng tiện ích, miễn phí. Nơi gợi ý, cung cấp thông tin, chức năng về các ứng dụng đến người dùng.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
