@model IEnumerable<CitricStore.Models.CATEGORY>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<div class="container">
    <h2 class="title">DỮ LIỆU THỂ LOẠI</h2>
    <h3 style="text-align: center; color:white">TỔNG HỢP</h3>
    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table index-table">
        <tr>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Sửa
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Xoá
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCat)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NameCat)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDCat}, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDCat}, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Xoá", "Delete", new { id = item.IDCat}, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>