@model CitricStore.Models.APP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<style>
    td {
        text-align: center;
        padding-bottom:10px;
    }
</style>

<div class="container align-item-center" style="margin: 10px auto; width:100%">

    <h2 style="text-align: center; color:white">DỮ LIỆU PHẦN MỀM (APP)</h2>

    <h3 style="text-align: center; color: white; margin-bottom:50px;">CHI TIẾT</h3>

    <div class="row">
        <div class="col-2"></div>
        <table class="table align-middle col-8" style="color: white; width: 70%; table-layout: fixed;word-break: break-word; font-size:20px">
            <tr>
                <td>
                    <strong>Tên: </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TenApp)
                </td>

            </tr>

            <tr>
                <td>
                    <strong>Giới thiệu: </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.GioiThieu)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Dung lượng: </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DungLuong) MB
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Đơn giá: </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DonGia)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Ngày cập nhật: </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NgayCapNhat)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Đánh giá:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DanhGia)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Hệ điều hành:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.HEDIEUHANH.TenHDH)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Ngôn ngữ:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NGONNGU.TenNgonNgu)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Nhà phát hành:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NHAPHATHANH.TenNPH)
                </td>
            </tr>

            <tr>
                <td colspan="2" class="">
                    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaApp }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Quay về trang tổng hợp", "Index")

                </td>
            </tr>

            @*<dd>
        <dt>
            Thể loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THELOAIAPP.TenTheLoai)
        </dd>

        <dt>
            Hình Nền
        </dt>

        <dd>
            <img src="~/Images/APP/@Model.HinhNen" style="width:600px; height:300px" />
        </dd>

        <dt>
            Hình chi tiết 1
        </dt>

        <dd>
            <img src="~/Images/APP/@Model.HinhCT1"  style="width:600px; height:300px"/>
        </dd>

        <dt>
            Hình chi tiết 2
        </dt>

        <dd>
            <img src="~/Images/APP/@Model.HinhCT2"  style="width:600px; height:300px"/>
        </dd>

        <dt>
            Hình chi tiết 3
        </dt>

        <dd>
            <img src="~/Images/APP/@Model.HinhCT3"  style="width:600px; height:300px"/>
        </dd>

        <dt>
            Hình chi tiết 4
        </dt>

        <dd>
            <img src="~/Images/APP/@Model.HinhCT4"  style="width:600px; height:300px"/>
        </dd>*@

        </table>


        <div class="col-2"></div>
    </div>


</div>