@model CitricStore.Models.SOFTWARE

@{
    ViewBag.Title = "Chỉnh Sửa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    .form-width{
        width:100%;
    }
    .form-height{
        height:200px;
    }
</style>
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<div class="container" style="margin: 10px auto; align-items:center; color:white">

    <h2 style="text-align: center; color:white">DỮ LIỆU PHẦN MỀM (SOFTWARE)</h2>

    <h3 style="text-align: center; color: white">CHỈNH SỬA </h3>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            @using (Html.BeginForm("Edit", "InputDataApp", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal " style="color: white; font-size:20px; padding-left:30px; padding-right:30px;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDSoft)

                <div class="form-group">
                    Tên phần mềm:
                    <div class="col-12">
                        @Html.EditorFor(model => model.NameSoft, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NameSoft, "", new { @class = "text-dark" })
                    </div>
                </div>

                <div class="form-group">
                    Giới thiệu:
                    <div class="col-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Dung lượng:
                    <div class="col-12">
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Đơn giá:
                    <div class="col-12">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Thể loại:
                    <div class="col-12">
                        @Html.DropDownList("IDCatSoft", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDCatSoft, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Nhà phát hành:
                    <div class="col-12">
                        @Html.DropDownList("IDPublisher", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDPublisher, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Hệ điều hành:
                    <div class="col-12">
                        @Html.DropDownList("IDPlatform", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDPlatform, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Ngôn ngữ:
                    <div class="col-12">
                        @Html.DropDownList("IDLanguage", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDLanguage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Ngày nhập:
                    <div class="col-12">
                        @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Đánh giá:
                    <div class="col-12">
                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px;">
                    <strong>Hình nền:</strong>
                    <div class="">
                        <div>
                            Chọn ảnh mới:
                            <img id="previewnen" class="d-none" src="#" width="300" height="200" style="margin-right:10px;" />
                            <input name="PicBG" type="file" accept="image/*" id="fileImageNen" />

                            <br />

                            Ảnh hiện tại:
                            <img src="~/Images/APP/@Model.PicBG" width="300" height="200" style="margin-left:18px" />

                        </div>
                        
                        <div style="margin-top:7px;">

                        </div>

                        @Html.ValidationMessageFor(model => model.PicBG, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <strong>Hình chi tiết 1:</strong>
                    <div class="col-12">
                        <div>
                            Chọn ảnh mới:
                            <img id="preview1" class="d-none" src="#" width="300" height="200" style="margin-right:10px;" />
                            <input name="PicDetail1" type="file" accept="image/*" id="fileImageCT1" />

                        </div>
                        <br />
                        <div style="margin-top:7px;">
                            Ảnh hiện tại:
                            <img src="~/Images/APP/@Model.PicDetail1" width="300" height="200" style="margin-left:18px" />

                        </div>

                        @Html.ValidationMessageFor(model => model.PicDetail1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px;">
                    <strong>Hình chi tiết 2:</strong>
                    <div class="col-12">
                        <div>
                            Chọn ảnh mới:
                            <img id="preview2" class="d-none" src="#" width="300" height="200" style="margin-right:10px;" />
                            <input name="PicDetail2" type="file" accept="image/*" id="fileImageCT2" />

                        </div>
                        <br />
                        <div style="margin-top:7px;">
                            Ảnh hiện tại:
                            <img src="~/Images/APP/@Model.PicDetail2" width="300" height="200" style="margin-left:18px" />

                        </div>
                        @Html.ValidationMessageFor(model => model.PicDetail2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px;">
                    <strong>Hình chi tiết 3:</strong>
                    <div class="col-12">
                        <div>
                            Chọn ảnh mới:
                            <img id="preview3" class="d-none" src="#" width="300" height="200" style="margin-right:10px;" />
                            <input name="PicDetail3" type="file" accept="image/*" id="fileImageCT3" />

                        </div>
                        <br />
                        <div style="margin-top:7px;">
                            Ảnh hiện tại:
                            <img src="~/Images/APP/@Model.PicDetail3" width="300" height="200" style="margin-left:18px" />

                        </div>
                        @Html.ValidationMessageFor(model => model.PicDetail3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <strong>Hình chi tiết 4: </strong>
                    <div class="col-12">
                        <div>
                            Chọn ảnh mới:
                            <img id="preview4" class="d-none" src="#" width="300" height="200" style="margin-right:10px;" />
                            <input name="PicDetail4" type="file" accept="image/*" id="fileImageCT4" />

                        </div>
                        <br />
                        <div style="margin-top:7px;">
                            Ảnh hiện tại:
                            <img src="~/Images/APP/@Model.PicDetail4" width="300" height="200" style="margin-left:18px" />

                        </div>
                        @Html.ValidationMessageFor(model => model.PicDetail4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-info" /> |
                        @Html.ActionLink("Quay về trang tổng hợp", "Index")
                    </div>
                </div>
            </div>
            }


        </div>
        <div class="col-2"></div>
    </div>
</div>
<script src="~/Scripts/UploadImage.js"></script>

