@using CitricStore.Models

<div style="color:white; font-size:20px; text-align:center">
    Tên nhận hàng: @Model.NameOrder
    <br />
    Số điện thoại: @Model.PhoneOrder
    <br />
    Email: @Model.EmailOrder
    <br />
    Số tài khoản: @Model.IDPayAccount
    <br />
    Tên tài khoản: @Model.NamePayAccount


</div>
