@using CitricStore.Models
@{
    ViewBag.Title = "Page_CheckOrder";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="~/Content/Page_CheckOrder.css" rel="stylesheet" />

<div class="container thanthongtindonhang">
    <h3 class="kiemtrathongtindonhang">KIỂM TRA THÔNG TIN ĐƠN HÀNG</h3>
    <div class="thongtinchitiet">
        <table class="table table-borderless chitietsoluongdongiathanhtien">
            <thead>
                <tr>
                    <th colspan="2">ỨNG DỤNG</th>

                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN GIÁ</th>
                    <th>THÀNH TIỀN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)

                {
                    <tr>
                        <td><img src="~/Images/OVERALL/@product.PicBG" class="hinhanhoverall" /></td>
                        <td class="align-middle tenapp">@product.NameApp</td>

                        <td class="align-middle">@product.Quantity</td>
                        <td class="align-middle">@String.Format("{0:0,0}", @product.Price) VND</td>
                        <td class="align-middle">@String.Format("{0:0,0}", @product.FinalPrice()) VND</td>
                    </tr>
                }
                <tr class="chitietchothanhtoangiatien">
                    <td></td>
                    <td colspan="2" class="tongsoluong">Tống số lượng: @ViewBag.TotalNumber</td>
                    <td colspan="2" 
                        class="tongthanhtoan">Tổng thanh toán: @String.Format("{0:0,0}", @ViewBag.TotalPrice) VND</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <h3 class="thongtinthanhtoanvanhanhang">THÔNG TIN THANH TOÁN VÀ NHẬN HÀNG</h3>
    @Html.Action("Page_ShowPayment", "Cart", new { idor = Session["IDOrder"] })


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class=" col-4"></div>
            <div class=" col-4 no-color d-flex align-items-end justify-content-center xacnhandonhang">
                <input type="submit" value="Xác nhận đơn hàng" class="btn btn-dark nutxatnhandonhang" />
            </div>
            <div class="col-4"></div>
        </div>

    }
</div>

