@using CitricStore.Models

<div style="color:white; font-size:20px; text-align:center">
    Tên nhận hàng: @Model.TenOrder
    <br />
    Số điện thoại: @Model.SDTOrder
    <br />
    Email: @Model.EmailOrder
    <br />
    Số tài khoản: @Model.MaTaiKhoan
    <br />
    Tên tài khoản: @Model.TenTaiKhoan


</div>
