@using CitricStore.Models
<link href="~/Content/Page_ShowPagement.css" rel="stylesheet" />

<div class="thongtinnguoimuahang">
    Tên nhận hàng: @Model.NameOrder
    <br />
    Số điện thoại: @Model.PhoneOrder
    <br />
    Email: @Model.EmailOrder
    <br />
    Số tài khoản: @Model.IDPayAccount
    <br />
    Tên tài khoản: @Model.NamePayAccount


</div>
