@using CitricStore.Models
@model List<CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/User.css" />
<style>
    .thanhtoan-btn{
        margin:0px auto;
        right:0px;
        margin-right:0px;
        align-items:end;
    }
    th, td, input{
        vertical-align:middle;
        align-items:center;
        
    }

</style>
    
   
    
<div class="container" style="margin:0px auto; ">

    <h2 style="text-align: center; color:white">GIỎ HÀNG</h2>
    <div style="color:white; font-size:18px;">
        <table class="table table-borderless" style="color:white; text-align:center; table-layout:fixed; width:100%">
            <thead>
                <tr>
                    <th colspan="2">ỨNG DỤNG</th>

                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN GIÁ</th>
                    <th>THÀNH TIỀN</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)

                {
                    using (Html.BeginForm("UpdateQuantity", "Cart", new { idpro = product.IDApp }))
                    {
                        <tr>
                            <td><img src="~/Images/OVERALL/@product.PicBG" style="width:130px; height:100px;" /></td>
                            <td class="align-middle" style="font-size:25px; font-weight:500; word-break:break-all; padding-left:15px;">@product.NameApp</td>
                            <td class="align-self-center" style="">
                                <input type="number" min="1" name="changequantity" value="@product.Quantity"
                                       data-id="@product.IDApp" class="quantity quantity-form" />
                            </td>
                            <td class="align-middle">@String.Format("{0:0,0}", @product.Price) VND</td>
                            <td class="align-middle">@String.Format("{0:0,0}", @product.FinalPrice()) VND</td>
                            <td><input type="submit" value="Cập nhật" class="btn btn-info" /></td>
                            <td>@Html.ActionLink("Xoá", "RemoveItem", new { idpro = product.IDApp }, new { @class = "btn btn-warning" })</td>


                        </tr>
                    }
                }

                <tr style="font-size: 22px; font-weight: 500; text-align: right; color: white;">
                    <td></td>
                    <td colspan="2" style="text-align:right">Tống số lượng: @ViewBag.TotalNumber</td>
                    <td colspan="2" style="text-align:center">Tổng thanh toán: @String.Format("{0:0,0}", @ViewBag.TotalPrice) VND</td>

                    <td colspan="2">
                        <div class="row">
                            @if (Session["TaiKhoan"] != null)
                            {
                                @Html.ActionLink("Thanh toán", "Page_Payment", "Cart", null, new { @class = "btn btn-dark" })
                            }
                            else
                            {
                                @Html.ActionLink("Đăng nhập để thanh toán", "Login", "Users", null, new { @class = "btn btn-dark" })
                            }

                        </div>


                    </td>
                </tr>

            </tbody>

        </table>

        <div class="row justify-content-center">

            @Html.ActionLink("Xoá giỏ hàng", "RemoveAllCart", null, new { @class = "removecart" })

        </div>


    </div>
    </div>
