@using CitricStore.Models
@{
    ViewBag.Title = Model.NameOverall;
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}


<link rel="stylesheet" href="~/Content/AppPage.css" />
<link href="~/Content/Details_Overall.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/Rating,js.js"></script>
<script>
    $(function () {
        $('.stars').stars();
    });
</script>
<div class="row chayhinhanh">
    <div class="col-lg-8">
        <div class="slideshow">
            <div class="display-container">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/OVERALL/@Model.PicBG">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/OVERALL/@Model.PicDetail1">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/OVERALL/@Model.PicDetail2">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/OVERALL/@Model.PicDetail3">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/OVERALL/@Model.PicDetail4">
                <!--Nút qua lại-->
                <button class="image-button button-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="image-button button-right" onclick="plusDivs(1)">&#10095;</button>

                <!-- Chấm tròn -->
                <div class="badge" style="width:100%">
                    <span class="image-badge" onclick="currentDiv(1)"></span>
                    <span class="image-badge" onclick="currentDiv(2)"></span>
                    <span class="image-badge" onclick="currentDiv(3)"></span>
                    <span class="image-badge" onclick="currentDiv(4)"></span>
                    <span class="image-badge" onclick="currentDiv(5)"></span>
                </div>
            </div>
        </div>
        <script language="Javascript" src="~/Scripts/SlideImageAuto.js"></script>
    </div>

    <div class="col-lg-4">
        <div class="tenungdung">
            @Model.NameOverall
        </div>

        <div class="price">
            @String.Format("{0:0,0}", Model.Price) VND
        </div>

        <a class="nuttaigame align-items-center"
           href="@Url.Action("AddToCart","Cart", new {id = Model.IDOverall})">
            Thêm vào giỏ hàng
        </a>
    </div>
</div>

<div class="col-12">
    <div class="row">
        <p class="tieude">NỘI DUNG</p>
        <p class="noidung">
            @Model.Description
        </p>
        <hr />
        <p class="tieude">ĐÁNH GIÁ CỦA NGƯỜI DÙNG</p>
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-2 col-md-2 danhgiacuanguoidung">@Model.Rating</div>

            <div class="col-lg-4 col-md-6 danhgia justify-content-start align-bottom">
                <span class="stars" data-rating="@Model.Rating" data-num-stars="5"></span>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
        <hr>
        <div class="tieudechitiet">
            <p class="tieude">CHI TIẾT</p>
            <p class="chitiet">Thể loại: @Html.Action("Extension_GetNameCategory", "CitricStore", new { idcat = Model.IDCat })</p>
            <p class="chitiet">Nhà phát hành: @Html.Action("Extension_GetNamePublisher", "CitricStore", new { idnph = Model.IDPublisher })</p>
            <p class="chitiet">Dung lượng: @Model.Capacity MB</p>
            <p class="chitiet">Ngôn ngữ: @Html.Action("Extension_GetNameLanguage", "CitricStore", new { idlang = Model.IDLanguage })</p>
            <p class="chitiet">Hệ điều hành: @Html.Action("Extension_GetNamePlatform", "CitricStore", new { idplat = Model.IDPlatform })</p>
            <p class="chitiet">Ngày cập nhật: @String.Format("{0:dd MMM, yyy}", Model.UpdateDate)</p>
        </div>
        <hr>
        <div class="game-list-container">
            <h1 class="game-list-title goiyungdung">ỨNG DỤNG CÙNG THỂ LOẠI</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_Overall_SameCategory", "CitricStore", new { idcat = Model.IDCat })
                </div>
            </div>
        </div>

        <div class="game-list-container">
            <h1 class="game-list-title">ỨNG DỤNG MỚI</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_Overall_GetNew", "CitricStore")
                </div>
            </div>
        </div>
        <div class="game-list-container">
            <h1 class="game-list-title">ỨNG DỤNG HOT</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_Overall_GetSuggest", "CitricStore")
                </div>
            </div>
        </div>
    </div>
</div>
