@using CitricStore.Models
@{
    ViewBag.Title = @Model.NameSoft;
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/AppPage.css" />
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/Rating,js.js"></script>
<script>
    $(function () {
        $('.stars').stars();
    });
</script>

<div class="row" style="margin-top:20px;">
    <div class="col-lg-8">
        <div class="slideshow">
            <div class="display-container">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/APP/@Model.PicBG">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/APP/@Model.PicDetail1">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/APP/@Model.PicDetail2">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/APP/@Model.PicDetail3">
                <img class="slides animate-fading" onclick="changeImage()" src="~/Images/APP/@Model.PicDetail4">
                <!--Nút qua lại-->
                <button class="image-button button-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="image-button button-right" onclick="plusDivs(1)">&#10095;</button>

                <!-- Chấm tròn -->
                <div class="badge" style="width:100%">
                    <span class="image-badge" onclick="currentDiv(1)"></span>
                    <span class="image-badge" onclick="currentDiv(2)"></span>
                    <span class="image-badge" onclick="currentDiv(3)"></span>
                    <span class="image-badge" onclick="currentDiv(4)"></span>
                    <span class="image-badge" onclick="currentDiv(5)"></span>
                </div>
            </div>
        </div>
        <script language="Javascript" src="~/Scripts/SlideImageAuto.js"></script>
    </div>

    <div class="col-lg-4">
        <div class="tenungdung" style=" padding-bottom:10px; padding-top:10px; text-align:center; margin-top:100px;">
            @Model.NameSoft
        </div>

        <div class="price" style="color: white; font-size: 30px; text-align: center">
            @String.Format("{0:0,0}", Model.Price) VND
        </div>

        <a class="nuttaigame align-items-center" style="margin: 25px auto; display:block;"
           href="@Url.Action("AddToCart","Cart", new {id = Model.IDSoft})">
            Thêm vào giỏ hàng
        </a>
    </div>
</div>

<div class="col-12">
    <div class="row">
            <p class="tieude" style="margin-top:20px">NỘI DUNG</p>
            <p class="noidung">
                @Model.Description
            </p>

        <hr />

        <p class="tieude">ĐÁNH GIÁ CỦA NGƯỜI DÙNG</p>
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-3 col-md-2" style="font-size:40px; color:white; text-align:right;">@Model.Rating</div>

            <div class="col-lg-3 col-md-6 danhgia justify-content-start align-bottom">
                <span class="stars" data-rating="@Model.Rating" data-num-stars="5"></span>
            </div>
            <div class="col-lg-3 col-md-2"></div>

        </div>

        <hr />
            <p class="tieude">CHI TIẾT</p>
            <p class="chitiet"><strong>Thể loại: </strong>@Html.Action("TenTheLoaiApp", "CitricStore", new { idtheloai = Model.IDCatSoft })</p>
            <p class="chitiet"><strong>Nhà phát hành: </strong>@Html.Action("Details_TenNPH", "CitricStore", new { idnph = Model.IDPublisher })</p>
            <p class="chitiet"><strong>Dung lượng: </strong>@Model.Capacity MB</p>
            <p class="chitiet"><strong>Ngôn ngữ: </strong>@Html.Action("Details_NameLanguage", "CitricStore", new { idngonngu = Model.IDLanguage })</p>
            <p class="chitiet"><strong>Hệ điều hành: </strong>@Html.Action("Details_TenHDH", "CitricStore", new { idhdh = Model.IDPlatform })</p>
            <p class="chitiet"><strong>Ngày cập nhật: </strong>@String.Format("{0:dd MMM, yyy}", Model.UpdateDate)</p>
        <hr>
        <div class="game-list-container">
            <h1 class="game-list-title" style="margin-bottom: -20px;">PHẦN MỀM CÙNG THỂ LOẠI</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_AppCungTheLoai", "CitricStore", new { idtheloai = Model.IDCatSoft })
                </div>
            </div>
        </div>

        <div class="game-list-container">
            <h1 class="game-list-title">PHẦN MỀM MỚI</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_AppMoi", "CitricStore")
                </div>
            </div>
        </div>
        <div class="game-list-container">
            <h1 class="game-list-title">PHẦN MỀM HOT</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    @Html.Action("Details_AppTheoDanhGia", "CitricStore")
                </div>
            </div>
        </div>
    </div>
</div>
