@using CitricStore.Models

@foreach (var game in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="bloggame">
            <a class="imageblog" href="@Url.Action("Details_Overall", "CitricStore", new {id=game.IDOverall})">
                <img class="card-img-top imageblog-width-height" src="~/Images/OVERALL/@game.PicBG" alt="Card image">
            </a>
            <a class="bloggame-title h4" href="@Url.Action("Details_Overall", "CitricStore", new {id=game.IDOverall})">
                @game.NameOverall
            </a>
            <div class="bloggame-theloai">
                Thể loại: @Html.Action("Extension_GetNameCategory", "CitricStore", new { idcat = game.IDCat })
            </div>
            <a class="bloggame-download" href="@Url.Action("Details_Overall", "CitricStore", new {id=game.IDOverall})" style="text-decoration:none">
                <div class="bloggame-download-btn">
                    Chi Tiết
                </div>
            </a>
        </div>
    </div>
}


