@using CitricStore.Models

@foreach (var game in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="bloggame">
            <a class="imageblog" href="@Url.Action("DetailsGame", "CitricStore", new {id=game.MaGame})">
                <img class="card-img-top imageblog-width-height" src="~/Images/GAME/@game.HinhNen" alt="Card image">
            </a>
                <a class="bloggame-title h4" href="@Url.Action("DetailsGame", "CitricStore", new {id=game.MaGame})">
                    @game.TenGame
                </a>
                <div class="bloggame-theloai">
                    Thể loại: @Html.Action("TenTheLoaiGame", "CitricStore", new { idtheloai = game.MaTheLoaiGame })
                </div>
                <a class="bloggame-download" href="@Url.Action("DetailsGame", "CitricStore", new {id=game.MaGame})" style="text-decoration:none">
                    <div class="bloggame-download-btn">
                        Chi Tiết
                    </div>
                </a>
        </div>
    </div>
}


