@using CitricStore.Models
@{
    ViewBag.Title = "Thể Loại";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/classify.css" />

<script src="~/Content/bootstrap5/js/bootstrap.js"></script>

@Html.Action("Extension_Slide", "CitricStore")

<div class="dexuat-name">
    <div class="line"></div>
    <span>PHẦN MỀM</span>
    <div class="line"></div>
</div>

<div class="row filter-container">
    <div class="col-md-2 col-sm-2 col-lg-1 filter-title">
        Sắp xếp:
    </div>
    @Html.ActionLink("Theo mới nhất", "Page_Category", new { sortOrder = ViewBag.DateSortParm }, new { @Class = "col-5 filter-1" })
    @Html.ActionLink("Theo hay nhất", "Page_Category", new { sortOrder = ViewBag.RateSortParm }, new { @Class = "col-5 filter-2" })
</div>

<div class="dexuat-container">
    <div class="container-fluid">
        <div class="row">
            @foreach (var app in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="bloggame">
                        <a class="imageblog" href="@Url.Action("Details_Overall", "CitricStore", new { id = app.IDOverall })">
                            <img class="card-img-top imageblog-width-height" src="~/Images/OVERALL/@app.PicBG" alt="Card image">
                        </a>

                        <a class="bloggame-title h4" href="@Url.Action("Details_Overall", "CitricStore", new { id = app.IDOverall })">
                            @app.NameOverall
                        </a>

                        <div class="bloggame-theloai">
                            Thể loại: @Html.Action("Extension_GetNameCategory", "CitricStore", new { idcat = app.IDCat })
                        </div>
                        <a class="bloggame-download" href="@Url.Action("Details_Overall", "CitricStore", new { id = app.IDOverall })" 
                           style="text-decoration:none">
                            <div class="bloggame-download-btn">
                                Chi Tiết
                            </div>
                        </a>

                    </div>
                </div>
            }
        </div>
    </div>
</div>


