@using CitricStore.Models
@{
    ViewBag.Title = "Thể Loại";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/classify.css" />

<script src="~/Content/bootstrap5/js/bootstrap.js"></script>

<style>
    .chonloc{
        text-decoration:none;
        color:black;
    }
</style>

<div class="slideshow">
    <div class="display-container">
        @*            <div class="slides">
                <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/nền ứng dụng 1.jpg">
                <div class="imageslides-caption">
                    <div class="imageslides-content">
                        <h3 class="imageslides-title">GAME MỚI</h3>
                        <p class="imageslides-description">
                            “Six Inches Under” là một dự án phụ nhỏ được tạo ra để giới thiệu các thành viên nhóm phát triển mới với các công cụ và quy trình làm việc của chúng tôi. Về cơ bản đó là sự chuẩn bị của chúng tôi cho phần tiếp theo của Supraland.
                        </p>
                        <div href="" class="imageslides-more-btn">Xem thêm</div>
                    </div>
                </div>
            </div>
        *@            
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/vecteezyhalloween-festivity-illustration-sceneryAW0721_generated.jpg">
        </div>
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/vecteezy_Jack-o'-lantern-Illustration_AP0920_vecteezy_Jack-o'-lantern-Illustration_AP0920.jpg">
        </div>
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/4183289.jpg">
        </div>

        <!--Nút qua lại-->
        <button class="image-button button-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="image-button button-right" onclick="plusDivs(1)">&#10095;</button>
        <!-- Chấm tròn -->
        <div class="badge" style="width:100%">
            <span class="image-badge" onclick="currentDiv(1)"></span>
            <span class="image-badge" onclick="currentDiv(2)"></span>
            <span class="image-badge" onclick="currentDiv(3)"></span>
        </div>
    </div>
</div>
<script language="Javascript" src="~/Scripts/HomePage.js"></script>

<div class="dexuat-container">

    <div class="dexuat-name">
        <div class="line"></div>
        <span>TRÒ CHƠI MỚI</span>
        <div class="line"></div>
    </div>


    <div class="row filter-container">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="dropdown filter-tieude">
                <strong>Sắp Xếp:</strong>
                <a href="#" class="dropdown-toggle  dungluong-dropdown"
                   role="button" id="dropdownMenu" type="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Kiểu sắp xếp
                </a>

                <div class="dropdown-menu dungluong-dropdown-menu" aria-labelledby="dropdownMenu" , style="border-radius: 9px;">
                    @Html.ActionLink("Phần mềm mới nhất", "Page_AppTheoTheLoai", new { sortOrder = ViewBag.DateSortParm }, new { @Class = "chonloc" })
                    <br />
                    @Html.ActionLink("Phần mềm hay nhất", "Page_AppTheoTheLoai", new { sortOrder = ViewBag.RateSortParm }, new { @Class = "chonloc" })
                </div>
            </div>
        </div>

        @*<div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="dropdown filter-tieude">
                    <strong>Dung Lượng:</strong>
                    <a href="#" class="dropdown-toggle  dungluong-dropdown"
                       role="button" id="dropdownMenu" type="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Chọn dung lượng
                    </a>

                    <div class="dropdown-menu dungluong-dropdown-menu" aria-labelledby="dropdownMenu">
                        <a href="#" class="dropdown-item">Dưới 10GB</a>
                        <a href="#" class="dropdown-item">Dưới 20GB</a>
                        <a href="#" class="dropdown-item">Dưới 30GB</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 filter-row">
                <div class="dropdown filter-tieude">
                    Ngôn Ngữ:
                    <a href="#" class="dropdown-toggle  dungluong-dropdown"
                       role="button" id="dropdownMenu" type="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Chọn ngôn ngữ
                    </a>

                    <div class="dropdown-menu dungluong-dropdown-menu" aria-labelledby="dropdownMenu">
                        @Html.Action("Page_App_Filter_NgonNguDropDown","CitricStore")
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 filter-row">
                <div class="dropdown filter-tieude">
                    Nền Tảng:
                    <a href="#" class="dropdown-toggle  dungluong-dropdown"
                       role="button" id="dropdownMenu" type="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Chọn hệ điều hành
                    </a>

                    <div class="dropdown-menu dungluong-dropdown-menu" aria-labelledby="dropdownMenu">
                        <a href="#" class="dropdown-item">Dưới 10GB</a>
                        <a href="#" class="dropdown-item">Dưới 20GB</a>
                        <a href="#" class="dropdown-item">Dưới 30GB</a>
                    </div>
                </div>
            </div>*@

    </div>

    <div class="dexuat-container">
        <div class="container-fluid">
            <div class="row">
                @foreach (var app in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bloggame">
                            <a href="" class="imageblog">

                                <img class="imageblog-width-height" src="~/Images/APP/@app.PicBG">
                            </a>
                            <div class="bloggame-title h4">
                                <a class="fix-line" href="">@app.NameSoft</a>
                            </div>
                            <div class="bloggame-theloai">
                                Thể loại: @Html.Action("TenTheLoaiApp", "CitricStore", new { idtheloai = app.IDCatSoft })
                            </div>
                            <a class="bloggame-download" href="@Url.Action("DetailsApp", "CitricStore", new {id=app.IDSoft})" style="text-decoration:none">
                                <div class="bloggame-download-btn">
                                    Tải Xuống
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
