@model CitricStore.Models.LANGUAGE

@{
    ViewBag.Title = "Tạo mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<div class="container col-lg-6 col-md-10">
    <h2 class="title">DỮ LIỆU NGÔN NGỮ</h2>
    <h3 class="minititle">TẠO MỚI</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal form-decor">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Tên ngôn ngữ:
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NameLanguage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameLanguage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 create-formgroup">
                    <input type="submit" value="Tạo mới" class="btn btn-info create-btn"/> |
                    @Html.ActionLink("Quay về trang tổng hợp", "Index", null, new { @class = "nonedecor" })
                </div>
            </div>
        </div>
    }
</div>