@model IEnumerable<CitricStore.Models.LANGUAGE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />

<style>
    th, td {
        text-align: center;
        vertical-align: middle;
    }

    .index-btn {
        text-decoration: none;
        color: white;
    }
</style>

<div class="container" style="margin:0px auto; align-items:center">

    <h2 style="text-align: center; color:white">DỮ LIỆU NGÔN NGỮ</h2>

    <h3 style="text-align: center; color:white">TỔNG HỢP</h3>

    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table" style="table-layout:fixed; width:100%; word-break: break-word; color:white; border-spacing:10px 10px;">
        <tr>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Sửa
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Xoá
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDLanguage)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NameLanguage)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDLanguage }, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDLanguage }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Xoá", "Delete", new { id = item.IDLanguage }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
</div>