@model IEnumerable<CitricStore.Models.BANK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<link href="~/Content/IndexBank.css" rel="stylesheet" />


<div class="container thandulieu">
    <h2 class="title">DỮ LIỆU NGÂN HÀNG</h2>

    <h3 class="tieude">TỔNG HỢP</h3>

    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table chitiet">
        <tr>
            <th>
                Mã
            </th>
            <th style="width:50%">
                Tên
            </th>
            <th>
                Sửa
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Xoá
            </th>

        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDBank)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NameBank)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDBank }, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDBank}, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Xoá", "Delete", new { id = item.IDBank }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
    </div>
