@model CitricStore.Models.OVERALL

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OVERALL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOverall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOverall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicDetail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicDetail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicDetail2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicDetail2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicDetail3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicDetail3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicDetail4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicDetail4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftOrGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftOrGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLATFORM.NamePlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLATFORM.NamePlatform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LANGUAGE.NameLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LANGUAGE.NameLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUBLISHER.NamePublisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUBLISHER.NamePublisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.NameCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.NameCat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDOverall }) |
    @Html.ActionLink("Back to List", "Index")
</p>
