@model IEnumerable<CitricStore.Models.NHAPHATHANH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<style>
    th, td {
        text-align: center;
    }

    .index-btn {
        text-decoration: none;
        color: white;
    }
</style>


<div class="container" style="margin:0px auto; align-items:center">
    <h2 style="text-align: center; color:white">DỮ LIỆU NHÀ PHÁT HÀNH</h2>

    <h3 style="text-align: center; color:white">TỔNG HỢP</h3>

    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table-bordered" style="table-layout:fixed; width:100%; word-break: break-word; color:white; border-spacing:10px 10px;">
        <tr>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Sửa
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Xoá
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNPH)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TenNPH)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaNPH }, new { @class = "index-btn" })
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaNPH }, new { @class = "index-btn" })
        </td>
        <td>
            @Html.ActionLink("Xoá", "Delete", new { id = item.MaNPH }, new { @class = "index-btn" })
        </td>
        </tr>
        }

</table>
    </div>
