@model CitricStore.Models.CUSTOMER

@{
    ViewBag.Title = "Chỉnh Sửa Thông Tin";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="~/Content/User.css" rel="stylesheet"/>
<link href="~/Content/EditInfo.css" rel="stylesheet" />


<div class="container col-lg-6 col-md-10 thongtinthanhvien">
        <h2 class="title">CHỈNH SỬA THÔNG TIN THÀNH VIÊN</h2>
        <div class="chitiet">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, null, new { @class = "error" })
                @Html.HiddenFor(model => model.IDCus)
                @Html.HiddenFor(model => model.LogName)

                <div class="resetpass">
                    <strong>Tên Đăng Nhập:</strong> @Model.LogName
                </div>

                <div class="resetpass">
                    Họ Tên:
                    <div class="col-md-12">
                        <input class="edit-form" name="NameCus" type="text" value="@Model.NameCus" />
                        <span data-valmsg-for="LinkName" data-valmsg-replace="true"></span>

                        @Html.ValidationMessageFor(model => model.NameCus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="margin-top:5px">

                    <div class="col-md-12">
                        Giới Tính:
                        <input type="radio" id="sex_1" name="Sex" value="Nữ" class="nutgioitinh">
                        <label class="form-label" for="sex_1"> Nữ </label>

                        <input type="radio" id="sex_2" name="Sex" value="Nam" class="nutgioitinh">
                        <label class="form-label" for="sex_2"> Nam </label>

                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div style="margin-bottom:5px;">
                    Điện Thoại:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.PhoneCus, new { htmlAttributes = new { @class = "edit-form" } })
                        @Html.ValidationMessageFor(model => model.PhoneCus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="resetpass">
                    Ngày Sinh:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "edit-form" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="resetpass">
                    Email:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.EmailCus, new { htmlAttributes = new { @class = "edit-form" } })
                        @Html.ValidationMessageFor(model => model.EmailCus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row justify-content-center">
                    <input type="submit" value="Chỉnh sửa" class="btn btn-dark nutchinhsua" />
                </div>
            }

        </div>
</div>
