@model CitricStore.Models.CUSTOMER

@{
    ViewBag.Title = "ResetPass";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/User.css" />

<div class="container col-lg-5 col-md-11" style="margin:0px auto;">
    <h2 style="text-align: center; color:white">ĐẶT LẠI MẬT KHẨU</h2>
    <h2 style="color: #FCAE03; margin: 0px auto; font-size: 20px;">@ViewBag.ThongBao</h2>

    <div style="color:white; font-size:18px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDCus)
                @Html.HiddenFor(model => model.LogName)
                @Html.HiddenFor(model => model.EmailCus)
                @Html.HiddenFor(model => model.Sex)
                @Html.HiddenFor(model => model.PhoneCus)
                @Html.HiddenFor(model => model.NameCus)
                @Html.HiddenFor(model => model.Birthday)


                <div class="form-group">
                    <strong>Tên đăng nhập:</strong> @Model.LogName
                </div>

                <div class="form-group">
                    <strong>Email:</strong> @Model.EmailCus
                </div>


                <div class="form-group">
                    Mật khẩu:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LogPass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LogPass, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-dark" style="width:45%; margin-left:7px" />

                        @Html.ActionLink("Đăng nhập","Login",null, new{ @class= "btn btn-dark quayvedangnhap" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>