@using System.Linq

@using CitricStore.Models

@{
    ViewBag.Title = "Xem Thông Tin";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link href="~/Content/ViewInfo.css" rel="stylesheet" />


<div class="container col-lg-6 col-md-10 thanthongtinthanhvien">
    <h2 class="title">THÔNG TIN THÀNH VIÊN</h2>
    <div class="chitiet">

        <div class="thongtin">
            <strong>Họ Tên:</strong> @Model.NameCus
        </div>

        <div class="thongtin">
            <strong>Giới Tính: </strong>@Model.Sex

        </div>


        <div class="thongtin">
            <strong>Điện Thoại:</strong> @Model.PhoneCus

        </div>


        <div class="thongtin">
            <strong>Ngày Sinh: </strong> @String.Format("{0:dd MMM, yyy}", Model.Birthday)
        </div>

        <div class="thongtin">
            <strong>Email: </strong> @Model.EmailCus
        </div>

        <div class="thongtin">
            <strong>Tên Đăng Nhập:</strong> @Model.LogName
        </div>

        <div class="thongtin">
            @Html.ActionLink("Sửa thông tin", "EditInfo", "Users", new { id = Model.IDCus },
           new { @class = "btn btn-dark edit-btn" })
        </div>
    </div>

</div>



