@using System.Linq

@using CitricStore.Models

@{
    ViewBag.Title = "Xem Thông Tin";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />


<style>
    .thongtin{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .edit-btn{
        width: 40%;
        margin: 0px auto;
    }


</style>
<div class="container col-lg-6 col-md-10" style="margin:0px auto;">
        <h2 class="title">THÔNG TIN THÀNH VIÊN</h2>
        <div style="color:white; font-size:18px; text-align:center">

            <div class="thongtin">
                <strong>Họ Tên:</strong> @Model.NameCus
            </div>

            <div class="thongtin">
                <strong>Giới Tính: </strong>@Model.Sex

            </div>


            <div class="thongtin">
                <strong>Điện Thoại:</strong> @Model.PhoneCus

            </div>


            <div class="thongtin">
                <strong>Ngày Sinh: </strong> @String.Format("{0:dd MMM, yyy}",Model.Birthday) 
            </div>

            <div class="thongtin">
                <strong>Email: </strong> @Model.EmailCus
            </div>

            <div class="thongtin">
                <strong>Tên Đăng Nhập:</strong> @Model.LogName
            </div>

            <div class="thongtin">
                @Html.ActionLink("Sửa thông tin", "EditInfo", "Users" , new {id = Model.IDCus }, new {@class= "btn btn-dark edit-btn" })
            </div>
        </div>
    </div>
